graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst


include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib